.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.take-me-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.sections_upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.section_profile {
  width: 40%;
  background-color: #3db2ff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section_profile:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 24px;
}

.section_tweets {
  width: 60%;
  background-color: #7a0bc0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section_tweets:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 24px;
}

.section_posts {
  width: 60%;
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section_posts:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 24px;
}

.section_logout {
  width: 40%;
  background-color: #fa58b6;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section_logout:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 24px;
}

.sections_lower {
  display: flex;
  flex-direction: row;
  width: 80%;
}
