.notif-main{
    background-color: #fff;
    border: 1px solid purple;
    border-radius:2rem;
    width: 50rem;
    font-family: "Montserrat", sans-serif;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    transition: all 0.5s;
}

.notif-main:hover{
  box-shadow: rgba(238, 0, 255, 0.24) 0px 3px 8px;
  background-color:purple;
  color: #fff;
  border: 1px solid white;
  cursor:pointer;
}


.notif-left{
    width:20%;

}

.notif-middle{
    width:60%;
}

.notif-right{
    width:20%;
}