.tweetorpost_main {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid purple;
  height: auto;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(50, 50, 93, 0.10) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
}

.tweetorpost_upper {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tweetorpost_content{
  float: left;
  width:80%;
}

.tweetorpost_profileImage{
  width: 10%;
}


.tworpo_name {
  font-weight: 600;
}

.tworpo_profilePic {
  border-radius: 10rem;
  border: 1px solid purple;
}

.tweetorpost_lower {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tworpo_comment,
.tworpo_retweet,
.tworpo_heart {
  width: 33%;
  font-size: 1rem;
}
